/* All Pages */

.area__menu-user {
    width: 100%;
}

.area__menu-name {
    margin: 0px;
    font-size: 24px;
}

.area__menu-email {
    font-size: 15px;
}

.button__menu {
    padding-left: 20px;
}

#button__logout_sidenav {
    width: 90%;
    bottom: 70px;
    position: absolute !important;
}

.section__account-setup {
    top: 64px;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 100000;
}

body {
    background: url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
}

html {
    width: 100%;
    height: 100%;
}

.auth {
    display: none;
}

span.area__menu-name {
    max-width: 175px;
}

.progress {
    margin: 0px !important;
}


/* Home */

.image-icon {
    width: 195px;
    margin-left: 10px;
}

@media (max-width: 992px) {
    h4 {
        font-size: 23px !important;
    }
}


/* Work and Notes */

#button__create-note,
#button__create-work {
    right: 23px;
    bottom: 23px;
    position: fixed;
}


/* Work */

#work-wrapper {
    margin: 0px;
    display: none;
}


/* Classes */

.collection {
    margin: 0px !important;
}

.student,
.teacher {
    display: none;
}

.joinability h6 {
    margin: 0px;
}

.student .button__join-class {
    right: 23px;
    bottom: 23px;
    position: fixed;
}