/* All Pages */

.area__menu-user {
    width: 100%;
}

.area__menu-name {
    margin: 0px;
    font-size: 24px;
}

.area__menu-email {
    font-size: 15px;
}

.button__menu {
    padding-left: 20px;
}

#button__logout_sidenav {
    width: 90%;
    bottom: 70px;
    position: absolute !important;
}

.section__account-setup {
    top: 64px;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 100000;
}

body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

html {
    width: 100%;
    height: 100%;
}

.auth {
    display: none;
}

span.area__menu-name {
    max-width: 175px;
}

.progress {
    margin: 0px !important;
}

.icon__250 {
    font-size: 250px !important;
}

.nav-wrapper {
    background-color: #4286f4;
}


/* Home */

.image-icon {
    width: 195px;
    margin-left: 10px;
}

@media (max-width: 992px) {
    h4 {
        font-size: 23px !important;
    }
}


/* Login */

.login_background {
    background: #ffffff !important;
}


/* Work and Notes */

#button__create-note,
#button__create-work {
    right: 23px;
    bottom: 23px;
    position: fixed;
}


/* Work */

#work-wrapper {
    margin: 0px;
    display: none;
}


/* Classes */

.collection {
    margin: 0px !important;
}

.student,
.teacher {
    display: none;
}

.joinability h6 {
    margin: 0px;
}

.student .button__join-class {
    right: 23px;
    bottom: 23px;
    position: fixed;
}


/* Discussion */

.message__name {
    color: gray !important;
}

#discussion__messages {
    border: 0px;
    bottom: 133px;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    top: 64px;
}

.discussion__message {
    border: solid 1px black;
    background-color: rgba(27, 25, 25, 0.2) !important;
    border-bottom-color: transparent !important;
}

#discussion__new-message-area {
    bottom: 0px;
    width: 100%;
    position: fixed;
    border: solid 2px gray;
    padding: 5px 10px 0px 10px !important;
    background-color: white;
}

.character-counter {
    right: 0px !important;
    bottom: 20px !important;
    position: absolute !important;
}

.discussion__new-message-input-field {
    margin-top: 0px !important;
}

#class__discussion {
    display: none;
}

#discussion-wrapper,
#button__exit-discussion {
    display: none;
}